openapi: 3.1.0
info:
  title: Loan Matching & Mortgage API
  version: 1.0.13
  description: Strict input definitions for buyer qualification and mortgage computation.

servers:
  - url: https://gnc-revelation-main-ndpjj4.laravel.cloud/api/v1
    description: Production server

tags:
  - name: Loan Matching
    description: Match a buyer to eligible loan products
  - name: Mortgage Computation
    description: Compute amortization, equity, and loan qualification
  - name: Properties
    description: Fetch available property listings
  - name: Lending Institutions
    description: Explore supported lending institutions
  - name: Products
    description: Browse sellable product bundles

paths:
  /loan-match:
    post:
      tags:
        - Loan Matching
      summary: Match buyer to qualified loan products from available properties
      operationId: matchLoanProducts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - age
                - monthly_income
              properties:
                age:
                  type: integer
                  example: 40
                  minimum: 18
                  maximum: 65
                monthly_income:
                  type: number
                  example: 18000
                additional_income:
                  type: number
                  nullable: true
                  example: 10000
                co_borrower:
                  type: object
                  nullable: true
                  properties:
                    age:
                      type: integer
                      example: 35
                      minimum: 18
                      maximum: 65
                    monthly_income:
                      type: number
                      example: 15000
                development_form:
                  type: string
                  nullable: true
                  enum: [ horizontal, vertical ]
                  example: horizontal
                project_code:
                  type: string
                  nullable: true
                  example: "TLP001"
                house_type:
                  type: string
                  nullable: true
                  enum:
                    - condominium
                    - duplex
                    - row_house
                    - single_attached
                    - single_detached
                    - quadruplex
                    - townhouse
                    - twin_homes
                  example: row_house
      responses:
        '200':
          description: A list of matched properties the buyer qualifies for
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    qualified:
                      type: boolean
                    product_code:
                      type: string
                    monthly_amortization:
                      type: number
                    income_required:
                      type: number
                    suggested_equity:
                      type: number
                    income_gap:
                      type: number
                    reason:
                      type: string

  /mortgage-compute:
    post:
      tags:
        - Mortgage Computation
      summary: Compute mortgage result and qualification
      operationId: computeMortgage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lending_institution
                - total_contract_price
                - buyer
                - add_mri
                - add_fi
              properties:
                lending_institution:
                  type: string
                  enum: [hdmf, rcbc, cbc]
                total_contract_price:
                  type: number
                  example: 1000000
                percent_down_payment:
                  type: number
                  example: 0.10
                percent_miscellaneous_fee:
                  type: number
                  example: 0.085
                processing_fee:
                  type: number
                  example: 10000
                add_mri:
                  type: boolean
                add_fi:
                  type: boolean
                buyer:
                  type: object
                  required: [age, monthly_income, additional_income]
                  properties:
                    age:
                      type: integer
                      example: 45
                    monthly_income:
                      type: number
                      example: 25000
                    additional_income:
                      type: number
                      example: 0
                co_borrower:
                  type: object
                  nullable: true
                  properties:
                    age:
                      type: integer
                      example: 50
                    monthly_income:
                      type: number
                      example: 18000
      responses:
        '200':
          description: Computed mortgage result and qualification
          content:
            application/json:
              schema:
                type: object
                properties:
                  payload:
                    type: object
                    properties:
                      term_years:
                        type: integer
                      monthly_amortization:
                        type: number
                      cash_out:
                        type: number
                      loanable_amount:
                        type: number
                  qualification:
                    type: object
                    properties:
                      qualified:
                        type: boolean
                      income_gap:
                        type: number
                      loan_difference:
                        type: number
                      suggested_down_payment_percent:
                        type: number
                      reason:
                        type: string
                      mortgage:
                        type: object
                        properties:
                          term_years:
                            type: integer
                          monthly_amortization:
                            type: number

  /properties:
    get:
      tags:
        - Properties
      summary: List available properties with optional filters
      operationId: listProperties
      parameters:
        - in: query
          name: code
          schema:
            type: string
            example: PROP0001
          description: Filter by property code
        - in: query
          name: available_only
          schema:
            type: boolean
            example: true
          description: Show only available properties (status = available)
        - in: query
          name: lending_institution
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
            example: hdmf
          description: Filter by lending institution (e.g., hdmf, rcbc, cbc)
        - in: query
          name: min_price
          schema:
            type: number
            example: 1000000
          description: Minimum total contract price (PHP)
        - in: query
          name: max_price
          schema:
            type: number
            example: 3000000
          description: Maximum total contract price (PHP)
        - in: query
          name: development_type
          schema:
            type: string
            enum: [ bp_220, bp_957 ]
            example: bp_957
          description: Filter by development type
        - in: query
          name: development_form
          schema:
            type: string
            enum: [ horizontal, vertical ]
            example: horizontal
          description: Filter by development form
        - in: query
          name: housing_type
          schema:
            type: string
            enum:
              - condominium
              - duplex
              - row_house
              - single_attached
              - single_detached
              - quadruplex
              - townhouse
              - twin_homes
            example: row_house
          description: Filter by housing type
      responses:
        '200':
          description: A list of filtered properties with financial and classification metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                    name:
                      type: string
                    status:
                      type: string
                    total_contract_price:
                      type: number
                    appraisal_value:
                      type: number
                    percent_loanable_value:
                      type: number
                    percent_miscellaneous_fees:
                      type: number
                    processing_fee:
                      type: number
                    development_type:
                      type: string
                    development_form:
                      type: string
                    housing_type:
                      type: string
                    lending_institution:
                      type: string
                    lending_institution_details:
                      type: object
                      properties:
                        borrowing_age:
                          type: object
                          properties:
                            minimum:
                              type: integer
                            maximum:
                              type: integer
                            offset:
                              type: integer
                        maximum_term:
                          type: integer
                        maximum_paying_age:
                          type: integer
                        buffer_margin:
                          type: number
                        income_requirement_multiplier:
                          type: number
                        interest_rate:
                          type: number
                        percent_dp:
                          type: number

  /lending-institutions:
    get:
      tags:
        - Lending Institutions
      summary: List all supported lending institutions
      operationId: listLendingInstitutions
      responses:
        '200':
          description: A list of supported lending institutions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    name:
                      type: string
                    alias:
                      type: string
                    type:
                      type: string

  /lending-institutions/{key}:
    get:
      tags:
        - Lending Institutions
      summary: Show configuration of a specific lending institution
      operationId: showLendingInstitution
      parameters:
        - in: path
          name: key
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lending institution configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  name:
                    type: string
                  alias:
                    type: string
                  type:
                    type: string
                  borrowing_age:
                    type: object
                    properties:
                      minimum:
                        type: integer
                      maximum:
                        type: integer
                      offset:
                        type: integer
                  maximum_term:
                    type: integer
                  maximum_paying_age:
                    type: integer
                  buffer_margin:
                    type: number
                  income_requirement_multiplier:
                    type: number
                  interest_rate:
                    type: number
                  percent_down_payment:
                    type: number
        '404':
          description: Lending institution not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /products:
    get:
      tags:
        - Products
      summary: List all products with associated properties
      operationId: listProducts
      parameters:
        - in: query
          name: sku
          schema:
            type: string
            example: product-a
          description: Filter by product SKU
        - in: query
          name: lending_institution
          schema:
            type: string
            example: rcbc
          description: Filter products by lending institution
      responses:
        '200':
          description: A list of products with related properties
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    sku:
                      type: string
                    name:
                      type: string
                    brand:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    price:
                      type: number
                      description: Price in major units (converted from minor)
                    properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          sku:
                            type: string
                          code:
                            type: string
                          name:
                            type: string
                          total_contract_price:
                            type: number
                          appraisal_value:
                            type: number
                          lending_institution:
                            type: string

    /products/{sku}:
      get:
        tags:
          - Products
        summary: Show a specific product by SKU
        operationId: showProduct
        parameters:
          - in: path
            name: sku
            required: true
            schema:
              type: string
            description: SKU of the product
          - in: query
            name: lending_institution
            schema:
              type: string
              example: rcbc
            description: Optional filter by lending institution
        responses:
          '200':
            description: Product details with related properties
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    id:
                      type: integer
                    sku:
                      type: string
                    name:
                      type: string
                    brand:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    price:
                      type: number
                      description: Price in major units (converted from minor)
                    properties:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          sku:
                            type: string
                          code:
                            type: string
                          name:
                            type: string
                          total_contract_price:
                            type: number
                          appraisal_value:
                            type: number
                          lending_institution:
                            type: string
          '404':
            description: Product not found
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      example: Product 'sku-code' not found.
