openapi: 3.1.0
info:
  title: Loan Matching & Mortgage API
  version: 1.0.7
  description: Strict input definitions for buyer qualification and mortgage computation.

servers:
  - url: https://gnc-revelation-main-ndpjj4.laravel.cloud/api/v1
    description: Production server

tags:
  - name: Loan Matching
    description: Match a buyer to eligible loan products
  - name: Mortgage Computation
    description: Compute amortization, equity, and loan qualification
  - name: Properties
    description: Fetch available property listings

paths:
  /loan-match:
    post:
      tags:
        - Loan Matching
      summary: Match buyer to qualified loan products
      operationId: matchLoanProducts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - age
                - monthly_income
                - products
              properties:
                age:
                  type: integer
                  enum: [30, 44, 49]
                monthly_income:
                  type: number
                  enum: [17000, 25000]
                products:
                  type: array
                  items:
                    type: object
                    required:
                      - code
                      - name
                      - tcp
                      - interest_rate
                      - max_term_years
                      - max_loanable_percent
                      - disposable_income_multiplier
                    properties:
                      code:
                        type: string
                        enum: [P750, P1000, P1500, P2000]
                      name:
                        type: string
                        enum: [RDG750, RDG1000, RDG1500, RDG2000]
                      tcp:
                        type: number
                        enum: [750000, 1000000, 1500000, 2000000]
                      interest_rate:
                        type: number
                        enum: [0.0625]
                      max_term_years:
                        type: integer
                        enum: [20, 25, 30]
                      max_loanable_percent:
                        type: number
                        enum: [1.0]
                      disposable_income_multiplier:
                        type: number
                        enum: [0.35]
      responses:
        '200':
          description: A list of matched loan products
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    qualified:
                      type: boolean
                    product_code:
                      type: string
                    monthly_amortization:
                      type: number
                    income_required:
                      type: number
                    suggested_equity:
                      type: number
                    income_gap:
                      type: number
                    reason:
                      type: string

  /mortgage-compute:
    post:
      tags:
        - Mortgage Computation
      summary: Compute mortgage result and qualification
      operationId: computeMortgage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lending_institution
                - total_contract_price
                - buyer
                - add_mri
                - add_fi
              properties:
                lending_institution:
                  type: string
                  enum: [hdmf, rcbc]
                total_contract_price:
                  type: number
                  enum: [1000000, 1100000, 1200000, 1300000, 1400000]
                percent_down_payment:
                  type: number
                  enum: [0, 0.10]
                percent_miscellaneous_fee:
                  type: number
                  enum: [0.0, 0.085]
                processing_fee:
                  type: number
                  enum: [0, 10000]
                add_mri:
                  type: boolean
                add_fi:
                  type: boolean
                buyer:
                  type: object
                  required: [age, monthly_income, additional_income]
                  properties:
                    age:
                      type: integer
                      enum: [45, 46, 47, 48, 49, 50]
                    monthly_income:
                      type: number
                      enum: [17000, 19000, 21000, 23000, 25000]
                    additional_income:
                      type: number
                      enum: [0, 19000]
                co_borrower:
                  type: object
                  nullable: true
                  properties:
                    age:
                      type: integer
                      enum: [0, 50]
                    monthly_income:
                      type: number
                      enum: [0, 19000]
      responses:
        '200':
          description: Computed mortgage result and qualification
          content:
            application/json:
              schema:
                type: object
                properties:
                  payload:
                    type: object
                    properties:
                      term_years:
                        type: integer
                      monthly_amortization:
                        type: number
                      cash_out:
                        type: number
                      loanable_amount:
                        type: number
                  qualification:
                    type: object
                    properties:
                      qualified:
                        type: boolean
                      income_gap:
                        type: number
                      loan_difference:
                        type: number
                      suggested_down_payment_percent:
                        type: number
                      reason:
                        type: string
                      mortgage:
                        type: object
                        properties:
                          term_years:
                            type: integer
                          monthly_amortization:
                            type: number

  /properties:
    get:
      tags:
        - Properties
      summary: List available properties with optional filters
      operationId: listProperties
      parameters:
        - in: query
          name: code
          schema:
            type: string
            example: PROP0001
          description: Filter by property code
        - in: query
          name: available_only
          schema:
            type: boolean
            example: true
          description: Show only available properties (status = available)
        - in: query
          name: lending_institution
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
            example: hdmf
          description: Filter by lending institution (e.g., hdmf, rcbc)
        - in: query
          name: min_price
          schema:
            type: number
            example: 1000000
          description: Minimum total contract price (PHP)
        - in: query
          name: max_price
          schema:
            type: number
            example: 3000000
          description: Maximum total contract price (PHP)
      responses:
        '200':
          description: A list of filtered properties with financial and metadata
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      example: PROP0001
                    name:
                      type: string
                      example: Property ₱1,000,000
                    status:
                      type: string
                      enum: [ available, sold, reserved ]
                      example: available
                    total_contract_price:
                      type: number
                      example: 1000000
                    appraisal_value:
                      type: number
                      example: 1000000
                    percent_loanable_value:
                      type: number
                      example: 1.0
                    percent_miscellaneous_fees:
                      type: number
                      example: 0.085
                    processing_fee:
                      type: number
                      example: 10000
                    lending_institution:
                      type: string
                      example: hdmf
